.nav{
    background: rgba(121, 255, 80, 0.74);
    width: 100%;
    height: 60px;
    display: flex;
}


.nav ul{
    display: flex;
    list-style: none;
    
}
a{
    text-decoration: none;
}

.nav li{
    margin: 5px;
}



body{
    background-image: url("./images/343.jpg");
    background-repeat: no-repeat;
    background-size: 100% 85vh ;
    
  
}

.details{
    background-color: none;
    color: rgb(206, 170, 10);
    direction: bottom; 
    border: 5px solid;
    
    
}
.head{
    background-color: none;
}

.details2{
    color: rgb(252, 184, 25);
    border: 5px solid;
   
}
.LinkBtn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.picture{
    text-align: center;
    text-size-adjust:bold ;
    text-decoration-color: peru;
    color: rgb(104, 102, 0);
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    font-size: 40px;

    

    
    
   
    
}
.button {
   text-align: center;
    background-color: rgb(196, 236, 144);
    border: none;
    color: rgba(209, 173, 12, 0.966);
    font-size: 15px;
    font-family: monospace;
    

}

    